@import '../../style.scss';

.container{
    @include themify($themes){
    flex: 1.6;
    height: calc(100vh - 70px);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color: rgb(51, 45, 45);
    background-color: themed("bg");
    color: themed("textColor");

    position: sticky;
    top: 60px;
    overflow: scroll;
/*   
  &:first-child{

  }
  &:last-child{
  
  }
*/
    &::-webkit-scrollbar{
        display: none;
    }
    hr{
       margin: 8 px 0px;
       border: none;
       height: 0.5px;
       background-color: themed("border"); 
    }
    .first{
        display: flex;
        flex-direction: column;
        gap: 5px;
    .single{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        img{
           width: 30px;
           height: 30px;
           border-radius: 50%;          
           object-fit: cover;
        }
    }
    }
    .second{
        display: flex;
        flex-direction: column;
        gap: 5px;
        span{
           font-size: 16px;
        }
        .single{
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            img{
               width: 30px;
               height: 30px;
               border-radius: 50%;          
               object-fit: cover;
            }
        }
    }
    .third{
        display: flex;
        flex-direction: column;
        gap: 5px;
        span{
            font-size: 16px;
        }
        .single{
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            img{
               width: 30px;
               height: 30px;
               border-radius: 50%;          
               object-fit: cover;
            }
        }
    }
  }
}